.homeInput{
    width: 20rem;
    height: 2.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    border-color: lightgrey !important;
    box-shadow: none !important;
    padding-left: .5rem;
}


.home{
    background-color: #EF9651;
}


.search{
    margin-left: 1em;
    margin-top: 1em;
}

.header{
    background-color: #EF9651;
    margin-left: 0;
    margin-right: 0;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
    box-sizing: border-box;
    min-height: 400px;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    bottom: 0;
  }

img{
    border-radius: 10px;
}

.sortBy{
    float:right;
    margin-right: 3em;
}

